#pertama{
    color: coral;
}
#kedua{
    color: coral;
}
#ketiga{
    color: coral;
}
#keempat{
    color: coral;
}
#kelima{
    color: coral;
}
.daftar{
    color: coral !important;
    font-size: 100% !important; 
    
}
#daftar{
    color: darkblue;
    font-size: 200%;
}